.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; 

  /* Ảnh nền */
  background-image: url('/sample.png');
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat;

  filter: blur(9px);  
}

.content-wrapper {
  position: relative; 
  z-index: 10;        
  width: 100%;
  max-width: 1200px;  
  margin: 0 auto;     /* canh giữa horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
